<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>formbase_authencation</display-name>
	<welcome-file-list>
		<welcome-file>login.jsp</welcome-file>
	</welcome-file-list>
	<filter>
		<filter-name>struts2</filter-name>
		<filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- Resource / Role Mapping -->
	<security-constraint>
		<display-name>Admin Area</display-name>
		<web-resource-collection>
			<web-resource-name>admin_resources</web-resource-name>
			<url-pattern>/admin/*</url-pattern>
			<http-method>GET</http-method>
			<http-method>POST</http-method>
		</web-resource-collection>
		<auth-constraint>
			<description>For admin role only</description>
			<role-name>admin</role-name>
		</auth-constraint>
		<user-data-constraint>
			<transport-guarantee>NONE</transport-guarantee>
		</user-data-constraint>
	</security-constraint>


	<!-- Roles -->
	<security-role>
		<description>Administrators</description>
		<role-name>admin</role-name>
	</security-role>
	<security-role>
		<description>Management</description>
		<role-name>mgmt</role-name>
	</security-role>
	
	 <!-- Login Prompt -->  
  <login-config>  
       <auth-method>FORM</auth-method>  
       <form-login-config>  
            <form-login-page>/login.jsp</form-login-page>  
            <form-error-page>/error.jsp</form-error-page>  
       </form-login-config>  
  </login-config> 
</web-app>